<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    
   
    
</head>
<body>

    <section id="container">

        <section id="header-wrapper">
            <header id="head1">
                Facebook Header 1
            </header>
            <header id="head2">
                Facebook Nav Bar
            </header>
        </section>

        <section id="content-wrapper"> 
            <section id="LeftSide">
                <aside id="SideTop">Aside Top</aside>
                <aside id="SideBot">Aside Bottom
                    <div>Home</div>
                    <div>Facebook Watch</div>
                    <div>Group Page</div>
                    <div>Games</div>

                </aside>
            </section>
            
            <section id = "main-wrapper">
                <main id="main">Main
                    <div id="stories2"> Stories</div>
                    <div id="post-something2">What's on your mind?</div>
                    <div id="post-something"> What's on your mind?</div>
                    <div id="stories"> Stories</div>
                    <section id="facebook-post">
                        <div>fb post 1</div> 
                        <div>fb post 2</div>
                        <div>fb post 3</div>
                        <div>fb post 4</div>
                    </section>

                </main>

            </section>
            
            <aside id="SideRight">
                <section id="right">Aside Right
                    <div id="advert">Advertisements</div>
                    <div>Friend Request</div>
                    <div> Birthdays</div>
                    <div>Contacts</div>
                    <div>Group Conversation</div>
                </section>
            </aside>
        </section>

        <footer>Footer</footer>

    </section>

</body>
</html>