<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
   
    
</head>
<body>

    <section id="container">

        <section id="header-wrapper">
            <header id="head1">
                <nav id="nav-bar">
                    <ul>
                        <li id="facebook">Facebook</li>
                        <li id="add">+</li>
                        <li id="search">*</li>
                        <li id="messenger">/</li>
                    </ul>
                </nav>
            </header>
        </section>

        <section id="content-wrapper"> 
            <section id="LeftSide">
                <aside id="SideTop">Aside Top</aside>
                <aside id="SideBot">Aside Bottom</aside>
            </section>
            
            <section id = "main-wrapper">
                <main id="main2"> Main2</main>
                <main id="main">Main
                    <div> div 1</div>
                    <div> div 2</div>
                    <div> div 3</div>


                </main>

            </section>
            
            <aside id="SideRight">Aside Right</aside>
        </section>

        <footer>Footer</footer>

    </section>

</body>
</html>