<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    
</head>
<body>

    <section id="container">

        <section id="header-wrapper">
            <header id="head1">Header 1</header>
            <header id="head2">Header 2</header>
        </section>

        <section id="content-wrapper"> 
            <section id="LeftSide">
                <aside id="SideTop">Aside Top</aside>
                <aside id="SideBot">Aside Bottom</aside>
            </section>
            <main id="main">Main</main>
            <aside id="SideRight">Aside Right</aside>
        </section>

        <footer>Footer</footer>

    </section>

</body>
</html>