
body{
    width: 100%;
}
header{
    border: 1px solid black;
    margin: 10px;
}
#head1{
    flex-grow: 5;
}
#head2{
    flex-grow: 1;
}
#main {
    
    border: 1px solid black;
    margin: 10px;
}

section#LeftSide {
    
    flex-direction: column;
    margin: 10px;
    flex-grow: 1;
}
#SideTop{
    
    border: 1px solid black;
}
#SideBot{
    
    border: 1px solid black;
    
}


footer{
    height: 50px;
    border: 1px solid black;
    margin: 10px;
    
    flex-grow: 5;
}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
    #header-wrapper >{
        flex-direction: column;
    }
    header{
        height: 6vh;

    }
    
    #LeftSide, #SideRight{
        display: none;
    }
    #main{
        
        min-height: 100vh;
    }
    #post-something{
        height: 40px;
    }
    #stories{
        height: 140px;
    }
    section#facebook-post > *{
        min-height: 240px;
    }
    div{
        
        text-align: center;
        border: 1px solid black;
        margin: 1vh;
       
    }
    #stories2,#post-something2{
        display: none;
    }
    /*#facebook{
        margin-left: -20px;
       flex-grow: 10 ;
       border: 1px solid black;
    }
    #add,#search,#messenger{
        border: 1px solid black;
        text-align: center;
        flex-grow: 2;
    }
    #nav-bar > *{
       
        display: flex;
        color: red;
        border: 1px solid black;
        margin: auto;
    }
    ul li{
        
        display: inline;
    }*/
}
@media only screen and (min-width:481px){
    #header-wrapper{
        flex-direction: column;
        
    }
    #header-wrapper>*{
        height: 5vh;
    }
    #LeftSide, #main2{
        display: none;
    }
    #content-wrapper{
        display: flex;
    }
    #main-wrapper{
        flex-grow: 5;
    }
    #main{
        min-height: 100vh;
    }
    #SideRight{
        flex-grow: 1;
        
    }
    #post-something{
        height: 40px;
    }
    #stories{
        height: 140px;
    }
    section#facebook-post > *{
        min-height: 240px;
    }
    div{
        
        text-align: center;
        border: 1px solid black;
        margin: 1vh;
       
    }
    #stories2,#post-something2{
        display: none;
    }
    #right{
        margin: 10px;
      
        flex-grow: 1;
        border: 1px solid black;
        min-height: 90vh;
        
    }
    #right > *{
        min-height:20vh;
    }
    
    



}  
  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    #header-wrapper{
        flex-direction: column;
    }
    #header-wrapper>*{
        display: flex;
        height: 5vh ;
    }
    #head3, #head4, #LeftSide, #main2{
        display: none;
    }
    #content-wrapper{
        display: flex;
        flex-direction: row;
    }
    
    #main-wrapper > #main{
        flex-grow: 4 ;
    }
}   
  
  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #header-wrapper{
        display: flex;
        flex-direction: row;
    }
    #head2{
        display: none;
    }
    
    #LeftSide{
        display: block;
        margin: 0px;
        flex-grow: 1;
    }
    #SideTop{
        display: none;
    }
    #SideBot>*{
        min-height: 20vh;
    }
    #SideBot{
        min-height: 82vh;
    }
    #main-wrapper{
        display: flex;
        flex-direction: column;
        flex-grow: 6;
    }
    #stories,#post-something{
        display: none;
    }
    #stories2,#post-something2{
        display: block;
    }
    #stories2{
        height: 140px;
    }
    #post-something2{
        height: 40px;
    }
    
    
    
}
  
  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
     
}