
body{
    width: 100%;
    
}
section#container *{
    display: flex;
}

section#header-wrapper > header{
    display: flex;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
    
}
#head1{
    flex-grow: 5;

}
#head2{
    flex-grow: 1;
}
section#content-wrapper > aside,main {
    display: flex;
    height: 500px;
    border: 1px solid black;
    margin: 10px;
}
section#LeftSide {
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-grow: 1;
}
#SideTop{
    height: 100px;
    border: 1px solid black;
}
#SideBot{
    height: 375px;
    border: 1px solid black;
    margin-top: 20px;
}
#main{
    flex-grow: 4;
    
}
#SideRight{
    flex-grow: 1;
}
footer{
    height: 50px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-grow: 5;
}
/* Extra small devices (phones, 600px and down) */


@media only screen and (max-width: 600px) {
    #header-wrapper{
        flex-direction: column;
    }
    #header-wrapper>*{
        height: 50px !important;
    }

    #LeftSide{
        display: none !important;
        margin: 0px !important;
    }
    #SideRight{
        display: none !important;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    #header-wrapper{
        flex-direction: column;
    }
    #header-wrapper>*{
        height: 50px !important;
    }
    #LeftSide {
        display: none !important;
    }
    #main{
        flex-grow: 4 ;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    #header-wrapper{
        flex-direction: row;
    }
    #LeftSide{
        display: block !important;
      }
    #main{
        flex-grow: 4 !important;
      }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
     
  }