
body{
    width: 100%;
    
}
header{
    border: 1px solid black;
    margin: 10px;
    
}
#head1{
    flex-grow: 5;

}
#head2{
    flex-grow: 1;
}
section#content-wrapper > aside,main {
    
    border: 1px solid black;
    margin: 10px;
}

section#LeftSide {
    
    flex-direction: column;
    margin: 10px;
    flex-grow: 1;
}
#SideTop{
    
    border: 1px solid black;
}
#SideBot{
    
    border: 1px solid black;
    
}


footer{
    height: 50px;
    border: 1px solid black;
    margin: 10px;
    
    flex-grow: 5;
}
/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
    #header-wrapper >{
        flex-direction: column;
    }
    header{
        height: 6vh;

    }
    
    #LeftSide, #SideRight{
        display: none;
    }
    #main{
        height: 100vh;
    }
    div{
        
        text-align: center;
        border: 1px solid black;
        margin: 1vh;
        height: 30vh;
    }
    header#head1 > *{
        position: relative; 
        float: right;
    }
    #facebook{
        margin-left: -100px;
    }
    #nav-bar > *{
        
        color: red;
    }
   
    
    ul li{
        
        display: inline;
    }
}
@media only screen and (min-width:481px){
    #header-wrapper{
        flex-direction: column;
        
    }
    #header-wrapper>*{
        height: 5vh;
    }
    #LeftSide, #main2{
        display: none;
    }
    #content-wrapper{
        display: flex;
    }
    #main-wrapper{
        flex-grow: 5;
    }
    #main{
        height: 100vh;
    }
    #SideRight{
        flex-grow: 1;
    }
   
    #SideRight{
        height: 100vh;
    }
}  
  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    #header-wrapper{
        flex-direction: column;
    }
    #header-wrapper>*{
        display: flex;
        height: 5vh ;
    }
    #head3, #head4, #LeftSide, #main2{
        display: none;
    }
    #content-wrapper{
        display: flex;
        flex-direction: row;
    }
    
    #main-wrapper > #main{
        flex-grow: 4 ;
    }
}
  
  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #header-wrapper{
        display: flex;
        flex-direction: row;
    }
    #head2{
        display: none;
    }
    
    #LeftSide{
        display: block;
        margin: 0px;
        flex-grow: 1;
    }
    #SideTop{
        display: none;
    }
    #SideBot{
        height: 82vh;
    }
    #main2{
        display: block;
    }
    #main-wrapper{
        display: flex;
        flex-direction: column;
        flex-grow: 5;
    }
    
    
}
  
  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
     
}